.cell {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  margin: 0px;
  vertical-align: middle;
  text-align: center;
}
.cell--rightBorder {
  border-right: 2px solid black;
}
.cell--bottomBorder {
  border-bottom: 2px solid black;
}
.cell--selected {
  background-color: lightgray;
}

#mainTable {
  border: 2px solid black;
}

.hidden {
  display: none;
}

body.dark {
  background-color: #333333;
  color: white;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#numbers-container {
  display: flex;
  width: min-content;
  height: min-content;
}

#table {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: min-content;
  height: min-content;
}

#number-container {
  width: 25px;
  margin-left: 25px;
  margin-top: 0px;
}

.number {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  height: 21px;
  width: 21px;
  margin: 4px;
  vertical-align: middle;
  text-align: center;
}

.buttons-container {
  margin-top: 15px;
}

.buttons-container > button {
  background-color: lightgray;
}